.section {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1290px;
  height: 70px;
  background: url(/ofer.png);
  background-size:cover;
  background-position: center;
}
.section h2 {
  padding: 0 30px 0 0;
  font-size:clamp(.9rem,2.5vw,2rem)  ;
  text-transform: capitalize;
  letter-spacing: 2px;

}
.section span {
  font-weight: bold;
}
