.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .cont {
  max-width: 1290px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 4px;
}

.section .cont h2 {
  padding: 40px 0 20px 0;
  font-size: 27px;
  font-weight: bold;
  margin-right: auto;
}

.section .cont .cardsCont {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  width: fit-content;
  gap: 31px;
  justify-content: center;
}
/* Card */
.card {
  width: 230px;
  height: 385px;
  overflow: hidden;
  padding: 3px;
  transition: all 0.3s;
  cursor: pointer;
}

.card:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 4px #808080c7;
}

.card .cardCont {
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  line-height: 25px;
}

.card .cardCont .img {
  height: 70%;
  overflow: hidden;
}

.card .cardCont h3 {
  font-weight: bold;
  font-size: 18px;
}

.card .cardCont h4 {
  margin-top: 10px !important;
  font-size: 17px;
}

.card .cardCont p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* Media */
@media (max-width: 1309px) {
}
