@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
}

body {
  background-color: white;
  width: 100%;
  height: 3000px;
}

.app {
  width: 100%;
}
